<article class="mt-4 p-8  max-w-xl prose">
    <a href="https://kotyk.com" title="head on over to kotyk.com">
        <img src="/assets/snapavatar.png"
             class="rounded-full shadow-lg
                border-l-gray-600 border-l-4 border-b-red-800 border-b-4 border-r-gray-600 border-r-4 border-t-red-800 border-t-4
                hover:border-t-gray-400 hover:border-t-4 hover:border-r-red-800 hover:border-r-4 hover:border-b-gray-400 hover:border-b-4 hover:border-l-red-800 hover:border-l-4
                w-1/4 mx-auto"
             alt="Sheldon's Avatar">
    </a>
    <p class="text-center">my name is sheldon</p>
    <p class="text-center">
        i'm not actually an app but i do make them
    </p>
    <p class="text-center">
        i have this domain so i don't need to tell people how to spell
        <a class="underline" href="https://kotyk.com">kotyk.com</a>.
    </p>
</article>
