<article class="mt-4 p-8  max-w-xl prose">
    <a href="https://kotyk.com" title="head on over to kotyk.com">
        <img src="/assets/snapavatar.png" class="rounded-full shadow-lg border-gray-400 border w-1/4 mx-auto" alt="sheldon.app">
    </a>
    <p class="text-center">my name is sheldon</p>
    <p class="text-center">
        i'm not actually an app but i do make them
    </p>
    <p class="text-center">
        i have this domain so i don't need to tell people how to spell
        <a class="underline" href="https://kotyk.com">kotyk.com</a>.
    </p>
</article>
